@{
    ViewData["Title"] = "Create a New Post";
}

<head>
    <link rel="stylesheet" href="/css/pages/post.css" />
    <link rel="stylesheet" href="/css/myPost.css" />
    <link rel="stylesheet" href="/css/makePost.css" />
</head>

<div class="page" style="margin-top: 50px;">
    
    <div class="add-post">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQH4kqSX7olduATclTx5-qwPKxAb26dBhQvKA&s" class="userProfileMakePost" alt="User" />
        
        <button id="makePost">Create a new activity...</button>
    </div>

</div>

<div id="makePostContainer" style="display: none;"></div>

@section Scripts {
    <script type="module">
        import { haddleMakePost } from '/js/makePost.js'; 
        
        document.addEventListener("DOMContentLoaded", () => {
            haddleMakePost();
        });
    </script>
}