body {
  padding-top: 126px;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.search_main {
  width: 80vw;
  max-width: 1000px;
}

.activity_search {
  position: relative;
  display: flex;
  align-items: center;
}

.activity_search svg {
  position: absolute;
  left: 15px;
  color: #555;
  z-index: 10;
}

#findTitleBlock {
  width: 100%;
  padding: 12px 16px 12px 45px;
  background-color: #FFFFFF;
  border-radius: 8px 0 0 8px;
  color: #333;
  border: none;
  font-size: 16px;
}

#submitFindTitleBlock {
  background-color: #d4d4d4;
  color: #5b7cfa;
  padding: 12px 20px;
  border-radius: 0 8px 8px 0;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s ease;
}

#submitFindTitleBlock:hover {
  background-color: #fdfdfd;
}

.add-post {
  height: 80px;
  width: 80vw;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  background-color: #1a1a1a;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

.add-post img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.add-post button {
  height: 45px;
  width: 60vw;
  max-width: 700px;
  cursor: pointer;
  background-color: #333;
  border: none;
  border-radius: 12px;
  font-size: 1.2rem;
  color: #efefef;
  transition: 0.2s;
}

.add-post button:hover {
    background-color: #444;
}

#all-post {
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(3, minmax(350px, 600px)); 
  gap: 30px;
  justify-content: center; 
  margin-bottom: 200px;
}

@media (max-width: 1400px) {
  #all-post {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  #all-post {
    grid-template-columns: 1fr;
    width: 95vw;
  }
}

@media (max-width: 450px) {
  #all-post {
    grid-template-columns: 1fr;
    width: 95vw;
  }
}