<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/pages/sign_in.css">
    <title>Sign In</title>
</head>
<body>
    <nav>
    </nav>
    <div class="frame_sign">
        <div id="photo">
            <img src="https://images-ext-1.discordapp.net/external/P8bEa27gVk0UTXe15YVbGyHmMtQBFaI7vDD3I9C7UrE/https/cdni.iconscout.com/illustration/premium/thumb/man-doing-online-registration-illustration-svg-download-png-11538642.png?format=webp&quality=lossless&width=578&height=563" alt="sign-in">
        </div>
        <div id="info">
            <div>
                <H1>Sign In</H1>
            </div>
            
            @if (!ViewData.ModelState.IsValid)
            {
                <div style="color: red; margin-bottom: 10px;">
                    @Html.ValidationSummary(false, "")
                </div>
            }

            <form action="/Auth/SignIn" method="post">
                <p>Email</p>
                <input id="email" name="email" type="email" placeholder="xxx@gmail.com" required>
                
                <p>Password</p>
                <input id="password" name="password" type="password" placeholder="Enter your password" required>
                
                <p></p>
                <input id="submitSign" type="submit" value="Sign In">
            </form>
        </div>
    </div>
    <footer>
        
    </footer>

    <script type="module">
        import { generatedNavbar } from "/js/navbar.js";
        import { generatedFooter } from "/js/footer.js";
        generatedNavbar(false);
        generatedFooter();
    </script>
</body>
</html>