#notificationsButton {
    cursor: pointer;
}

#notificationsContainers {
    /* background-color: #000000d2; */
    background:
        radial-gradient(circle at 75% 50%, rgba(72, 92, 200, 0.45), transparent 45%),
        linear-gradient(90deg,
            #0d0a3a 0%,
            #120f4d 55%,
            #191670 85%,
            #0f1450 100%);
    position: fixed;
    flex-direction: column;
    right: 0px;
    top: 96px;
    z-index: 100;
    color: white;
    width: 25vw;
    height: 40%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-inline: 1%;
    gap: 4%;
    border-bottom: solid #5A68FF 5px;
    display: none;
}

#notificationsContainers::-webkit-scrollbar {
    width: 3px;
}

#notificationsContainers::-webkit-scrollbar-thumb {
    background: #c4c4c4;
    border-radius: 10px;
}



.layoutNotification {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 1%;
    padding: 1%;
    align-items: center;
    animation: slideDown 0.3s ease forwards;
    border-radius: 3%;
    background-color: #8b8b8b3b;
}

.divImgNotification {
    text-align: center;
}

#notificationsContainers img {
    max-width: 65%;
    max-height: 65%;
    min-height: 50%;
    min-width: 50%;
}

#notificationsContainers h1 {
    font-size: clamp(0.75rem, 1.2vw, 2rem);
    color: #8a93ff;
    margin-bottom: 5%;
}

#notificationsContainers h2 {
    font-size: clamp(0.5rem, 0.75vw, 1.5rem);
    margin-bottom: 2%;
}

#notificationsContainers h3 {
    font-size: clamp(0.6rem, 1vw, 1.7rem);
    margin-top: 0;
}


@keyframes slideDown {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.reviewPopup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviewBox {
    background: #333;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    color: white;
    border: solid black 2px;
}

.reviewBox h2{
    color: #8a93ff;
}

#submitReview{
    padding: 2%;
    padding-inline: 5%;
    font-size: 18px;
    background-color: #5A68FF;
    border: solid black 2px;
    border-radius: 20px 20px; 
    margin-top: 15px;   
}

.stars span {
    font-size: 30px;
    cursor: pointer;
}

.stars span {
    font-size: 32px;
    cursor: pointer;
    color: white;
    transition: 0.2s;
}

.stars span.active {
    color: rgb(145, 167, 255);
    text-shadow: 0 0px 25px #5A68FF;
    font-weight: 700;
}

.imagePopup{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.6);
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:1000;
}

.imageBox{
  background:white;
  padding:10px;
  border-radius:10px;
}

.imageBox img{
  max-width:500px;
  border-radius:8px;
}